<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StandardListMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Standard">
        <id column="detail_id" jdbcType="INTEGER" property="detail_id"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="standard" jdbcType="VARCHAR" property="standard"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="effectiveness" jdbcType="VARCHAR" property="effectiveness"/>
<!--        <result column="abstracts" jdbcType="VARCHAR" property="abstracts"/>-->
<!--        <result column="link" jdbcType="VARCHAR" property="link"/>-->
        <result column="scope" jdbcType="INTEGER" property="scope"/>
<!--        <result column="year" jdbcType="year" property="year"/>-->
    </resultMap>
    <sql id="Base_Column_List">
        detail_id,industry,region,standard,number,effectiveness,scope
    </sql>
    <select id="selectStandardList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from detail
    </select>

</mapper>