<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TechDetailMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.TechEntity">
        <id column="NO" jdbcType="VARCHAR" property="no"/>
        <result column="Country" jdbcType="VARCHAR" property="country"/>
        <result column="Industry" jdbcType="VARCHAR" property="industry"/>
        <result column="CleanTechnology" jdbcType="VARCHAR" property="cleanTechnology"/>
        <result column="ProductionStage" jdbcType="VARCHAR" property="productionStage"/>
        <result column="TechnologyOverview" jdbcType="VARCHAR" property="technologyOverview"/>
        <result column="Effect" jdbcType="VARCHAR" property="effect"/>
        <result column="Fields" jdbcType="VARCHAR" property="fields"/>
        <result column="Highlights" jdbcType="VARCHAR" property="highlights"/>
        <result column="TypicalApplications" jdbcType="VARCHAR" property="typicalApplications"/>
        <result column="Cost" jdbcType="VARCHAR" property="cost"/>
        <result column="Stability" jdbcType="VARCHAR" property="stability"/>
        <result column="Innovation" jdbcType="VARCHAR" property="innovation"/>
        <result column="Source" jdbcType="VARCHAR" property="source"/>
        <result column="Comment" jdbcType="VARCHAR" property="comment"/>
    </resultMap>
    <sql id="Base_Column_List">NO,Country,Industry,CleanTechnology,ProductionStage,TechnologyOverview,Effect,Fields,Highlights,TypicalApplications,Cost,Stability,Innovation,Source,Comment
    </sql>
<!--    <select id="getStandardList" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from detail-->
<!--    </select>-->
    <select id="selectTechDetailById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from technology.Tech
        where NO=#{NO,jdbcType=VARCHAR}
    </select>

</mapper>