<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TechDetailMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.TechEngEntity">
        <id column="NO" jdbcType="VARCHAR" property="NO"/>
        <result column="Country" jdbcType="VARCHAR" property="Country"/>
        <result column="Industry" jdbcType="VARCHAR" property="Industry"/>
        <result column="CleanTechnology" jdbcType="VARCHAR" property="CleanTechnology"/>
        <result column="ProductionStage" jdbcType="TEXT" property="ProductionStage"/>
        <result column="TechnologyOverview" jdbcType="TEXT" property="TechnologyOverview"/>
        <result column="Effect" jdbcType="TEXT" property="Effect"/>
        <result column="Fields" jdbcType="TEXT" property="Fields"/>
        <result column="Highlights" jdbcType="TEXT" property="Highlights"/>
        <result column="TypicalApplications" jdbcType="TEXT" property="TypicalApplications"/>
        <result column="Cost" jdbcType="TEXT" property="Cost"/>
        <result column="Stability" jdbcType="TEXT" property="Stability"/>
        <result column="Innovation" jdbcType="TEXT" property="Innovation"/>
        <result column="Source" jdbcType="TEXT" property="Source"/>
<!--        <result column="Comment" jdbcType="TEXT" property="Comment"/>-->
    </resultMap>
    <sql id="Base_Column_List">NO,Country,Industry,CleanTechnology,ProductionStage,TechnologyOverview,Effect,Fields,Highlights,TypicalApplications,Cost,Stability,Innovation,Source
    </sql>
<!--    <select id="getStandardList" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from detail-->
<!--    </select>-->
    <select id="selectTechEngDetailById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from technology.TechEng
        where NO=#{NO,jdbcType=VARCHAR}
    </select>

</mapper>